#title {
background-color: #ff4c68;
color: white;
}

body {
font-family: "Montserrat";
}

h1 {
font-family: "Montserrat";
font-size: 4rem;
line-height: 1.7;
font-weight: 900;
}

h2 {
font-family: "Montserrat";
font-weight: 900;
font-size: 3rem;
line-height: 1.5;
}

em {
font-size: 1.5rem;
}

.container-fluid {
padding: 3% 15%;
}

/* Navigation Bar  */

.navbar {
padding: 0 0 4.5rem;
}

.navbar-brand {
font-family: "ubuntu";
font-size: 2.7rem;
font-weight: bold;
}

.nav-item {
padding: 0 18px;
}

.nav-link {
font-family: "Montserrat-light"
font-weight: 900;
font-size: 1.7rem;
}

/*Download buttons*/

.download-button {
font-size: 1.8rem;
margin: 5% 3% 5% 0;
}

/*Title image*/
.title-image {
width: 22%;
margin: 30px;
transform: rotate(25deg);
position: absolute;
margin-left: 100px;
}

#title {
padding-bottom: 110px;
}

/*features*/
.feature-titles {
font-family: "Montserrat";
font-weight: bold;
font-size: 1.5rem;
text-align: center;
}

.feature-description {
color: #8F8F8F;
width: 80%;
text-align: center;
margin: auto;
}

#features {
position: relative;
background-color: #fff;
padding: 7% 15%;
z-index: 1;
}

.fas {
font-size: 4rem;
color: #ef8172;
width: 100%;
padding: 50px;
text-align: center;
--bs-btn-hover-color: #ff4c68;
}

/* Testimonial section */

#testimonials {
padding: 7% 15%;
text-align: center;
background-color: #ef8172;
color: #fff;
}

.testimonial-image {
width: 10%;
border-radius: 100%;
}

/* Press */

#press {
background-color: #ef8172;
text-align: center;
padding-bottom: 3%;
}

.press-logo {
width: 15%;
margin: 20px 20px 50px;
}

/* Pricing */
#pricing {
padding: 7% 15%;
}

.price-title {
padding-bottom 7%;
}

/*Footer*/
.footer-title {
text-align: center;
}

.footer-buttons {
margin-left: 44%;
margin-top:50px;
margin-bottom: 0px;
background-color: #ff4c68;
}

.copyright {
margin-top: 40px;
text-align: center;
}