<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thomas Appleyard</title>
    <link rel="stylesheet" href="static/my_site.css">
    <link rel="icon" href="static/my_site_favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Lilita+One&family=Montserrat&family=Sacramento&display=swap"
          rel="stylesheet">
</head>
<body>
<div class="top-container">
    <img src="static/images/cloud.png" alt="cloud image" class="cloud-1">
    <h1 class="heading">I'm Thomas Appleyard.</h1>
    <h2>a <span class="pro">pro</span>grammer.</h2>
    <img class="cloud-2" src="static/images/cloud.png" alt="cloud image">
    <img class="mountain" src="static/images/mountain.png" alt="mountain image">
</div>
<div class="middle-container">
    <div class="profile">
        <img class="profile-image" src="static/images/profile.png" alt="profile-picture">
        <h2>Hello.</h2>
        <p class="intro">Hello World! My name is Tom. I'm Currently learning to code!
            I live in <a href="https://www.google.com/maps/place/Devon/@50.722802,-4.3454046,9z/data=!3m1!4b1!4m5!3m4!1s0x486bf8
abdac00247:0x12c6ba0cca9c58fd!8m2!3d50.7155591!4d-3.530875">Devon</a> with my girlfriend Sinead.</p>
    </div>
    <hr>
    <div class="skills">
        <h2 class="skills-heading">My Skills.</h2>
        <div class="skill-row">
            <img class="coding-image" src="static/images/coding.gif" alt="coding-image">
            <h3>Python Programming</h3>
            <p class="code-skill-description">I started learning to code as a hobby and found a passion for understanding how to communicate with technology.  I can devlop all sorts of applications using python including the use of API's and special packages like Tkinter.</p>
        </div>
        <div class="skill-row">
            <img class="spanner-image" src="static/images/spanner.gif" alt="boat-picture">
            <h3>Marine engineering</h3>
            <p class="engineering-skill-description">I have spent many years in the marine engineering trade learning skills such as teamwork, problem-solving and how to handle the responsibility of providing a customer with a quality service. I'm able to adapt to many different engines and techniques to provide a successful operation.</p>
        </div>
    </div>
    <hr>
    <div class="contact-me">
        <h2>Get In Touch</h2>
        <button class="contact-me-button" type="button">CONTACT ME</button>
    </div>
</div>


<div class="bottom-container">
    <p class="email">Email: blu18@protonmail.com</p>
    <a class="footer-link" href="https://www.linkedin.com/in/tom-appleyard-5988a7250/">LinkedIn</a>
    <a class="footer-link" href="https://www.instagram.com/tom_appleyard_1818/?next=%2F">Instagram</a>
    <a class="footer-link" id="github" href="https://github.com/AppleBlu">Github</a>
    <p class="copyright">© 2023 Thomas Appleyard.</p>
</div>

</body>
</html>