body {
margin: 0;
text-align: center;
font-family: 'Lato', sans-serif;
}

.top-container {
background-color: #86E5FF;
position: relative;
padding-top: 100px;
}

.pro {
text-decoration: underline;
}

.cloud-1 {
position: absolute;
right: 300px;
top: 50px;
}

.cloud-2 {
position: absolute;
left: 300px;
bottom: 300px;
}

h1 {
font-family: 'Sacramento', cursive;
width: 30%;
margin: 50px auto 0 auto;
font-size: 500%;
color: #0081C9;
}

h2 {
font-family: 'Montserrat', sans-serif;
font-size: 2.8rem;
color: #0081C9;
font-weight: bold;
}

h3 {
font-family: 'Montserrat', sans-serif;
color: #11999E;
font-weight: bold;
}

p {
font-family: 'Lilita One', sans-serif;
font-size: 20px;
}

.skill-row {
width: 50%;
margin: 100px auto 100px auto;
line-height: 2;
}

.coding-image {
width: 25%;
float: left;
margin-right: 30px;
}

.spanner-image {
width: 25%;
float: right;
margin-left: 30px;
}

.profile-image {
width: 10%;
margin-top: 50px;
}

.skills {
text-align: left;
}

.skills-heading {
text-align: center;
}

.intro {
padding-left: 40%;
padding-right: 40%;
}

hr {
    border: 9px dotted #EAF6F6;
    border-style: none none dotted;
    width: 6%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.contact-me-button {
  background-color: #66BFBF;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: bold;
}

.bottom-container {
background-color: #66BFBF;
padding-bottom: 50px;
padding-top: 20px;
}

.copyright {
margin-bottom: 0px;
color: #EAF6F6;
}

.email {
color: #EAF6F6;
}

.footer-link {
color: #11999E;
font-size: 20px;
padding-right: 20px;
}

#github {
padding-right: 0;
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }
