body {
margin: 0;
text-align: center;
font-family: 'Lato', sans-serif;
}

.top-container {
background-color: #86E5FF;
position: relative;
padding-top: 100px;
}

.pro {
text-decoration: underline;
}

.cloud-1 {
position: absolute;
right: 300px;
top: 50px;
}

.cloud-2 {
position: absolute;
left: 300px;
bottom: 300px;
}

h1 {
font-family: 'Sacramento', cursive;
width: 30%;
margin: 50px auto 0 auto;
font-size: 500%;
color: #0081C9;
}

h2 {
font-family: 'Montserrat', sans-serif;
font-size: 1.8rem;
color: #0081C9;
font-weight: normal;
}

h3 {
font-family: 'Montserrat', sans-serif;
color: #11999E
}

p {
font-family: 'Lilita One', sans-serif;
font-size: 20px;
}

.skill-row {
width: 50%;
margin: 100px auto 100px auto;
line-height: 2;
}

.coding-image {
width: 25%;
float: left;
margin-right: 30px;
}

.spanner-image {
width: 25%;
float: right;
margin-left: 30px;
}

.profile-image {
width: 10%;
}

.skills {
text-align: left;
}

.skills-heading {
text-align: center;
}
