body {
margin: 0px;
text-align: center;
font-family: 'Lato', sans-serif;
}

.top-container {
background-color: #86E5FF;
position: relative;
height:
}

.pro {
text-decoration: underline;
}

.cloud-1 {
position: absolute;
right: 300px;
top: 50px;
}

.cloud-2 {
position: absolute;
left: 300px;
bottom: 300px;
}

h1 {
font-family: 'Sacramento', cursive;
width: 30%;
margin: 0 auto 0 auto;
padding-top: 125px;
font-size: 500%;
color: #0081C9;
}

h2 {
font-family: 'Montserrat', sans-serif;
font-size: 1.8rem;
color: #0081C9;
font-weight: normal;
}

h3 {
font-family: 'Montserrat', sans-serif;
color: #11999E
}

p {
font-family: 'Lilita One', sans-serif;
font-size: 20px;
}
